{% extends "_layouts/blog" %}

{% set blogQuery = craft.entries()
    .section('blog')
    .limit(5) %}

{% paginate blogQuery as pageInfo, blogEntries %}

{% set blogCateogoryQuery = craft.categories().group('blogCategories') %}

{% block main %}
  <div class="container">
    <div class="content-sidebar">
      <div class="content-sidebar--content">
        {% if blogEntries|length > 0 %}
          {% for entry in blogEntries %}
            <article class="blog-entry blog-entry--archive">
              <div class="blog-entry__header">
                {% if entry.featuredImage %}
                  {% set featuredImage = entry.featuredImage.one() %}
                  {% if featuredImage %}
                    <img src="{{ featuredImage.getUrl('featuredImage') }}" class="blog-entry__image blog-entry__image--featured">
                  {% endif %}
                {% endif %}
                <h1 class="blog-entry__title"><a href="{{entry.url}}">{{entry.title}}</a></h1> 
                <div class="blog-entry__meta">
                  <div class="blog-entry__date">{{entry.postDate | date('M d, Y')}}</div>
                </div>
              </div>
              <div class="blog-entry__content">
                <p>{{entry.summary}}</p>
              </div>
              <div class="blog-entry__footer">
                <a class="button" href="{{ entry.url }}">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <h3>No Results</h3>
          <p>Sorry, but it does not look like there are any blog posts.</p>
          <a href="/" class="button">Go to the home page</a>
        {% endif %}
        <div class="blog-footer">
          <div>
            {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}
          </div>
          <div>
            {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
          </div>
        </div>
      </div>
      <div class="content-sidebar--aside">
        <div class="aside__block">
          {% set categories = blogCateogoryQuery.all() %}
          <h5 class="aside__title">Categories</h5>
          <ul class="categories-list">
            {% nav category in categories %}
              <li class="categories-list__item">
                <a href="{{category.url}}">{{category.title}}</a>
              </li>
            {% endnav %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}